{
	email kanghyunkim313@gmail.com
}

:8080 {
    @internal {
        remote_ip 192.168.0.0/24
    }
    handle @internal {
        reverse_proxy nextcloud:8080
    }
    handle {
        respond "Access Forbidden" 403
    }
}

cloud.zevk.me {
	redir /.well-known/carddav /remote.php/dav 301
	redir /.well-known/caldav /remote.php/dav 301

	header Strict-Transport-Security max-age=31536000;
	reverse_proxy 192.168.0.4:11000
}

sync1.zevk.me {
	reverse_proxy syncthing1:8384
}

grafana.zevk.me {
	reverse_proxy grafana:3000
}
