{
	email kanghyunkim313@gmail.com
}

cloud.siwonkh.com {
    header Strict-Transport-Security max-age=31536000;
    reverse_proxy localhost:11000
}

sync1.siwonkh.com {
    reverse_proxy localhost:8384
}
sync2.siwonkh.com {
    reverse_proxy localhost:8385
}
sync3.siwonkh.com {
    reverse_proxy localhost:8386
}
sync4.siwonkh.com {
    reverse_proxy localhost:8387
}

grafana.siwonkh.com {
    reverse_proxy localhost:3000
}
